<div class="container">
  <div class="container2">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
      <div class="col mb-3">
        <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32">
            <use xlink:href="#bootstrap"></use>
          </svg>
        </a>
        <p class="text-muted">©Dr.Jorge A. Robles 2023</p>
      </div>

      <div class="col mb-3">

      </div>

      <div class="col mb-3">
        <h5>Redes</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="https://www.facebook.com/profile.php?id=100090978022142" class="nav-link p-0 text-muted">
              <i class="fab fa-facebook-f mr-2"></i> Facebook
            </a>
          </li>
          <li class="nav-item mb-2"><a href="https://api.whatsapp.com/send?phone=573193160583&text=Buen dia, me interesa el plan de" class="nav-link p-0 text-muted"><i class="fab fa-whatsapp mr-2"></i>WhatsApp</a></li>
          <li class="nav-item mb-2"><a href="https://www.instagram.com/dr.jorgealejandrorobles/" class="nav-link p-0 text-muted"><i class="fab fa-instagram"></i>
              Instagram</a></li>
          <li class="nav-item mb-2"><a href="#"disable class="nav-link p-0 text-muted"><i class="far fa-envelope" ></i> Gmail:
              dr.jorgealejandrorobles1@gmail.com</a></li>

        </ul>
      </div>

      <div class="col mb-3">
        <h5>Redirecciones</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a routerLink="/home" class="nav-link p-0 text-muted">Principal</a></li>
          <li class="nav-item mb-2"><a routerLink="/tratamientos/trat" class="nav-link p-0 text-muted">Tratamientos</a></li>
          <li class="nav-item mb-2"><a routerLink="/contact" class="nav-link p-0 text-muted">Contacto</a></li>
          <li class="nav-item mb-2"><a routerLink="/bibliografia/bi" class="nav-link p-0 text-muted">Biografia</a></li>
        </ul>
      </div>
    </footer>

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <p class="col-md-4 mb-0 text-muted">© Dr.Jorge A. Robles 2023. Todos los derechos reservados.</p>

      <a href="/"
        class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>

      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a routerLink="/legalidad/avisoLegal" class="nav-link px-2 text-muted">Aviso legal</a></li>
        <li class="nav-item"><a routerLink="/legalidad/privacidad" class="nav-link px-2 text-muted">Privacidad</a></li>
        <li class="nav-item"><a routerLink="/legalidad/cookies" class="nav-link px-2 text-muted">Cookies</a></li>
      </ul>
    </footer>

  </div>
</div>