<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />


<div class="wrapper  ">
  <nav>

    <input type="checkbox" id="show-menu" #myCheckbox>
    <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
    <div class="content ">
      
      <div class="logo"><a routerLink="/home"><img src="/assets/icon.png">Dr.Robles</a></div>
    </div>
    <div class="content ">

      <ul class="links justify-content-end">
        <li><a routerLink="/home" (click)="toggleCheckbox()">Principal</a></li>
        <li><a routerLink="/tratamientos/trat" (click)="toggleCheckbox()">Tratamientos</a></li>
        <li><a routerLink="/contact" (click)="toggleCheckbox()">Contacto</a></li>
        <li><a routerLink="/bibliografia/bi" (click)="toggleCheckbox()">Biografia</a></li>
      </ul>
    </div>

  </nav>
</div>