 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>


  <div class="wrapper fixed-top ">
    <nav>
      
      <input type="checkbox" id="show-menu">
      <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
      <div class="content "><div class="logo"><a  routerLink="/home/principal-view-home">Dr.Robles</a></div></div>
      <div class="content ">
      
        <ul class="links justify-content-end">
          <li><a routerLink="/home/principal-view-home">Principal</a></li>
          <li><a routerLink="/pages/services">Servicios</a></li>
          <li><a routerLink="/pages/services">Contacto</a></li>
          <li><a routerLink="/pages/services">Biografia</a></li>
        </ul>
      </div>
      
    </nav>
  </div>
