.contenedor{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
}

app-navbar{ 
    align-self: flex-start;
}

router-outlet{
    align-self: flex-end;
}