<div id="main">
    <div class="inner">
        <section id="banner">
            <div class="content">
                <header>
                    <h1>Dr. Jorge Alejandro Robles</h1>
                    <h2>ODONTOLOGO</h2>
                </header>
                <h3>PERFIL PROFESIONAL</h3>
                <p>Odontólogo general, con formación académica solida e integral para desempeñarse en diferentes niveles
                    de atención y capacitación según las competencias y metas requeridas, con énfasis en promoción y
                    prevención, implementación de programas de salud oral, diagnóstico y tratamiento de las enfermedades
                    más prevalentes en la cavidad oral, gran interés en atención odontológica, en el campo académico y
                    en la áreas de investigación, con capacidades de recursividad, practicidad en las soluciones,
                    liderazgo proactivo, interés en el mejoramiento continuo durante el desempeño de actividades y las
                    buenas relaciones interpersonales dentro del ámbito laboral.
                </p>
                <h3>EXPERIENCIA PROFESIONAL</h3>
                <ul>
                    <li>
                        Prácticas clínicas universitarias
                    </li>
                    <p>
                        Excelente desempeño durante el desarrollo de las prácticas clínicas universitarias realizando
                        tratamientos multidisciplinarios logrando la rehabilitación de diferentes casos y manteniendo la
                        satisfacción del paciente junto al éxito de los tratamientos.
                    </p>
                    <li>
                        Odontólogo general independiente
                    </li>
                    <p>
                        Actividad: Atención a pacientes con afecciones multidisciplinarias, planteamiento manejo y
                        seguimiento de planes de tratamiento odontológicos integrales, enseñanza y aplicación de
                        promoción y
                        prevención en salud para los pacientes para lograr tratamientos exitosos también la aceptación y
                        satisfacción de los pacientes para con los tratamientos ofrecidos y realizados
                    </p>
                </ul>
                <h3>
                    FORMACIÓN
                </h3>
                <h4>
                    Secundaria
                </h4>
                <ul>
                    <li>Institución: IES SANTIAGO BASTANTA SILVA, España. Título: Bachiller Académico</li>
                    <li>Año de Finalización: 2017</li>
                    <li>Ciudad: España</li>
                </ul>
                <h4>
                    Universitario
                </h4>
                <ul>
                    <li>Institución: Colegio odontológico Colombiano (UNICOC)</li>
                    <li>Título: Odontólogo general- énfasis Profesional Clínico Endodoncia y Traumatología
                        Dentoalveolar.</li>
                    <li>Año de Finalización: Agosto 2022 Ciudad: Cali-valle</li>
                </ul>
                <ul>
                    <li>Institución: Colegio odontológico Colombiano (UNICOC)</li>
                    <li>Título: Joven investigador </li>
                    <li>Año de Finalización: Agosto 2022 Ciudad: Cali-valle</li>
                </ul>
                <h4>
                    Otros
                </h4>
                <p>Institución: Colegio odontológico Colombiano (UNICOC)</p>
                <ul>
                    <li>Monitoria teórico-práctica en biomateriales dentales</li>
                    <li>Monitoria teórico-práctica en anatomía dental</li>
                    <li>Miembro activo del semillero de investigación SICO del colegio odontológico hasta agosto 2022
                    </li>
                </ul>
                <p>Ciudad: Cali-valle</p>
                <p>Ponencia del Proyecto de investigación ”Evaluación de los registros del área de endodoncia realizados
                    por estudiantes de pregrado, febrero-mayo 2022, UNICOC sede Cali “
                    Presentado en:
                </p>
                <ul>
                    <li>X ENCUENTRO REGIONAL DE INVESTIGACION Y V ENCUENTRO DE SEMILLEROS DE INVESTIGACION NODO
                        SURECCIDENTAL MAYO 2022.
                    </li>
                </ul>
                <h4>
                    Cursos , Actualizaciones y Estudios Realizados
                </h4>
                <ul>
                    <li>Institución: Colegio Odontológico Colombiano (UNICOC)</li>
                    <li>Título Obtenido: X ENCUENTRO REGIONAL DE INVESTIGACION Y V ENCUENTRO DE SEMILLEROS DE
                        INVESTIGACION NODO SURECCIDENTAL (ESTUDIO DE CORTE TRANSVERSAL)</li>
                    <li>Fecha:
                        MAYO 13 2022
                    </li>
                    <li>Ciudad: Cali</li>
                </ul>
                <ul>
                    <li>Institución:	Universidad de los ANDES</li>
                    <li>Título Obtenido: DIPLOMADO Carillas guiadas por la estetica</li>
                    <li>Fecha:	06-08-2020
                    </li>
                    <li>Ciudad:	CALI-VIRTUAL</li>
                </ul>








            </div>
            <span class="image object">
                <img src="assets/foto.jpeg" alt="" style="max-width: 800px;
                max-height: 750px;"/>
            </span>
        </section>
        <section id="banner" style="justify-content: center;">

            <span class="image object">
                <h1>Dr. Jorge Alejandro Robles</h1>
                <img style="height:auto"
                    src="https://img.freepik.com/free-photo/white-teeth_144627-6526.jpg?w=740&t=st=1679702294~exp=1679702894~hmac=9c86c19d514f2c34fa710564a0dd654ecbe724ae5bced9714fac7cd5b442d77f"
                    alt="" />
            </span>
        </section>
    </div>
</div>