<app-carousel></app-carousel>

<div class="grid-layout">
  <div class="cage c1">
    <h1>Dr. Jorge Alejandro  </h1>
  </div>
</div>
<div class="list">
  <div class="cage c2">
    <div class="card-container"  >
      <a href="#" class="btn btn-primary"><img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </a>
    </div>
    <div class="card-container"  >
      <a href="#" class="btn btn-primary"><img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </a>
    </div>
    <div class="card-container"  >
      <a href="#" class="btn btn-primary"><img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </a>
    </div>
    <div class="card-container"  >
      <a href="#" class="btn btn-primary"><img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/25/25694.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </a>
    </div>
  </div>

    
    
  
    

  <div class="cage c3">
    <h1>Mira todos nuestros tratamientos</h1>
  </div>

    <div class="container">
      <div class="card">
        <div class="img">
           <img src="https://thumbnails.production.thenounproject.com/2Whs2r9EJgvHrlvLJbkp0cNMtT8=/fit-in/1000x1000/photos.production.thenounproject.com/photos/2126E9A5-308D-4022-8160-C19B4B7E00BE.jpg">
        </div>
        <div class="top-text">
           <div class="name">
              Diseño de sonrisa
           </div>
        </div>
        <div class="bottom-text">
           <div class="text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem quaerat iusto adipisci reprehenderit quasi cum perspiciatis, minima reiciendis magni quam!
           </div>
           <div class="btn">
              <a href="#">Leer mas</a>
           </div>
        </div>
     </div>
       <div class="card">
          <div class="img">
             <img src="https://thumbnails.production.thenounproject.com/2Whs2r9EJgvHrlvLJbkp0cNMtT8=/fit-in/1000x1000/photos.production.thenounproject.com/photos/2126E9A5-308D-4022-8160-C19B4B7E00BE.jpg">
          </div>
          <div class="top-text">
             <div class="name">
                Blanqueamiento
             </div>
          </div>
          <div class="bottom-text">
             <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem quaerat iusto adipisci reprehenderit quasi cum perspiciatis, minima reiciendis magni quam!
             </div>
             <div class="btn">
                <a href="#">Leer mas</a>
             </div>
          </div>
       </div>
       <div class="card">
          <div class="img">
             <img src="https://thumbnails.production.thenounproject.com/2Whs2r9EJgvHrlvLJbkp0cNMtT8=/fit-in/1000x1000/photos.production.thenounproject.com/photos/2126E9A5-308D-4022-8160-C19B4B7E00BE.jpg">
          </div>
          <div class="top-text">
             <div class="name">
                Implantes
             </div>
          </div>
          <div class="bottom-text">
             <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem quaerat iusto adipisci reprehenderit quasi cum perspiciatis, minima reiciendis magni quam!
             </div>
             <div class="btn">
                <a href="#">Leer mas</a>
             </div>
          </div>
       </div>
       <div class="card">
          <div class="img">
             <img src="https://thumbnails.production.thenounproject.com/2Whs2r9EJgvHrlvLJbkp0cNMtT8=/fit-in/1000x1000/photos.production.thenounproject.com/photos/2126E9A5-308D-4022-8160-C19B4B7E00BE.jpg">
          </div>
          <div class="top-text">
             <div class="name">
                Ortodoncia
             </div>
          </div>
          <div class="bottom-text">
             <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem quaerat iusto adipisci reprehenderit quasi cum perspiciatis, minima reiciendis magni quam!
             </div>
             <div class="btn">
                <a href="#">Leer mas</a>
             </div>
          </div>
       </div>
    </div>



