.grid-layout {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    width: 90%;
    margin: 0 auto;
    background-color: rgba(127, 255, 212, 0);
    
    
    align-items: stretch;
}
.list{
    width: 90%;
    margin: 0 auto;
    background-color: rgba(127, 208, 255, 0);
    
    
}
.cage {
    
    background-color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.c1{

    background-color: rgba(0, 0, 255, 0);
    
}
.c2{
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;

    
    background-color: rgba(233, 91, 134, 0);
}
.c3{

    background-color: rgba(57, 13, 161, 0);
}


.card-img-top{
    width: 100px;
}

.card-container{
    
    box-sizing: border-box;
    /*margin: 0;*/
    width: 24% !important;
    background: #e5e5e533;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    text-align: center;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    min-width: 150px;
    min-height: 150px;
    max-height: 350px;

    align-items: center;

    background: var(--white);
    box-shadow: 0 0 88px 0 rgba(0, 0, 0, 0.1607843137);
    overflow: hidden;
}


.h1{
    font-size: 2em;
    margin: 25px 0;
    text-align: center;
}


/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/


.container{
  padding: 0 40px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-width: 1440px;

 
 
}
.card{
  height: 280px;
  max-width: 350px;
  margin: 0 20px;
  background: white;
  transition: 0.4s;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  flex-basis: 24%;
  flex-grow: 1;
  margin-bottom: 20px;
  overflow: hidden;

  background: var(--white);
  box-shadow: 0 0 88px 0 rgba(0, 0, 0, 0.1607843137);
  overflow: hidden;
}
.card:hover{
  height: 470px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
.card .img{
  height: 200px;
  width: 100%;
  min-height: 200px;
  object-fit: cover !important;
  background-size: cover;
}
.card .img img{
  height: 100% !important;
  width: 100% !important;
  object-fit: cover !important;
  background-size: cover;
}
.card .top-text{
  padding: 5px;
}
.card .top-text .name{
  font-size: 25px;
  font-weight: 600;
  color: #202020;
}
.card .top-text p{
  font-size: 20px;
  font-weight: 600;
  color: #e74c3c;
  line-height: 20px;
}
.card .bottom-text{
  padding: 0 20px 10px 20px;
  margin-top: 5px;
  background: white;
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;
}
.card:hover .bottom-text{
  opacity: 1;
  visibility: visible;
}
.card .bottom-text .text{
  text-align: justify;
}
.card .bottom-text .btn{
  margin: 10px 0;
  text-align: left;
}
.card .bottom-text .btn a{
  text-decoration: none;
  background: #e74c3c;
  color: #f2f2f2;
  padding: 5px 8px;
  border-radius: 3px;
  display: inline-flex;
  transition: 0.2s;
}
.card .bottom-text .btn a:hover{
  transform: scale(0.9);
}
@media screen and (max-width: 978px) {
  .container{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .card{
    max-width: 700px;
    margin: 20px 0;
  }
}






.banner {
  position: relative; /* Se necesita para posicionar el fondo semi-transparente */
  width: 100%;
  background: url(https://thumbnails.production.thenounproject.com/sGXkCVwptbxTaZiwoXhKCe7DO64=/fit-in/1000x1000/photos.production.thenounproject.com/photos/BE32C31A-9C7E-4EE8-B5B1-7C4250821A32.jpg);
  background-size: cover;
  font-size: 60px;
  color: #ffffff;
  text-align: center;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
  width: 90%; 
  height: 100%; 
  max-width: 1320px;
  border-radius: 10px;
}
.banner::before {
  content: ""; 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.39);
  z-index: 1; 
  pointer-events: none; 
  backdrop-filter: blur(1px); 
  
  border-radius: 10px;
}

.banner .content {
  position: relative; 
  z-index: 2; 
  font-size: 60px;
  color: #ffffff;
  text-align: center;
  width: 90%;
  box-shadow: 0 0 88px 0 rgba(0, 0, 0, 0.1607843137);
  overflow: hidden;
  
}
.big-text {
  font-size: 130px;
  font-weight:800;
  animation-delay: 1s;
}
.banner a {
  display: inline-block;
  background: #fff;
  color: #36465d;
  text-transform: uppercase;
  padding: 15px;
  text-decoration: none;
  font-size: 40px;
  transition: .3s;
}
.banner a:hover {
  background: #333;
  color: #fff;
  
}